#container {
  display: flex;
  flex-direction: column;
}

/*img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}*/

nav {
  padding: .75rem 1rem;
  display: flex;
  justify-content: space-around;
}

main {
  display: flex;
  flex-direction: column;
}

footer {
  padding: 1.25rem;
}

.title h1 {
  padding-top: 4rem;
}

.main-row {
  display: flex;
  flex-direction: row;
}

.main-row .main-aside {
  display: flex;
  flex-direction: column;
}

.main-copy {
  margin-left: 1rem;
}

.main-aside {
  margin: 1.5rem 1rem 1.5rem;
  border: 1px solid black;
}

.main-aside-article {
    padding: .75rem 1rem .75rem;
      position: relative;
      }

.main-aside-article figure {
  display: inline-block;
  margin: 0;
}

.main-aside-article h3 {
  text-align: center;
  margin-top: 1rem;
}

.main-aside-article .booknow {
  position: absolute;
  right: -1rem;
  top: 14rem;
}

.copyright {
  text-align: center;
}
