#container {
  display: flex;
  flex-direction: column;
}

/*img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}*/

nav {
  padding: .75rem 1rem;
  display: flex;
  justify-content: space-around;
}

/*main {
  display: flex;
  flex-direction: column;
}*/

footer {
  padding: 1.25rem;
}

/*.title h1 {
  padding-top: 4rem;
}*/

.main-row {
  display: flex;
  flex-direction: row;
}

.main-row .main-aside {
  display: flex;
  flex-direction: column;
}

.main-copy {
  margin: 1.25rem .5rem 0 1.25rem;
}

.main-aside {
  margin: 1.25rem .5rem;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.main-aside-article p {
  position: relative;
}

.main-aside-article h3 {
  text-align: center;
}

.booknow  {
  position: absolute;
  right: 0;
  bottom: .15rem;
}

.copyright {
  text-align: center;
}
