#container {
  display: flex;
  flex-direction: column;
}

nav {
  padding: .75rem 1rem;
  display: flex;
  justify-content: space-around;
}

footer {
  padding: 1.25rem;
}

.main-row {
  display: flex;
  flex-direction: row;
}

.main-row .main-aside {
  display: flex;
  flex-direction: column;
}

.main-copy {
  margin: 1.25rem .5rem 0 1.25rem;
}

.main-aside {
  margin: 1.25rem .5rem;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.main-aside-article {
  margin-bottom: 1.5rem;
}

.cat-title, .cat-name {
  text-align: center;
}

.cat-title {
  margin-bottom: -.5rem;
}

.cat-name {
  margin-top: -.15rem;
}

.cat-caption {
  position: relative;
  margin-left: .75rem;
  width:60%;
}

.booknow  {
  position: absolute;
  display: block;
  right: -5rem;
  bottom: 0rem;
}

.copyright {
  text-align: center;
}
