* {
  box-sizing: border-box;
  }

html {
  background-color: lightgray;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: lighter;
}

a, a:visited {
  color: red;
}

main {
  background-color: white;
  padding: .75rem;
}

nav {
    background-color: lightgray;
    padding: .5rem .75rem;
}

nav li {
  display: inline;
  font-size: 1.25rem;
  padding: 1rem;
}

nav a, nav a:visited {
  color: purple;
}

.title, footer {
  background-color: black;
  color: white;
  padding: .75rem;
}

.topnav {
  float: right;
  font-size: 1.25rem;
}

.main-aside {
  flex-direction: column-reverse;
  margin-right: 1rem;
  padding: .5rem;
  border: 1px solid black;
  width: 20rem;
}

.main-aside h3 {
  text-align: center;
}

.copyright {
  text-align: center;
  padding: .75rem;
}

.quote {
  font-style: italic;
}
