html {
  background-color: #ffffff;
  font-size: 18px;
  font-family: "Lucinda Sans", sans-serif;
}

p {
  line-height: 1.5rem;
}

a, a:visited {
  color: #bf0000;
}

nav a, nav a:visited {
  color: purple;
}

nav {
  background-color: lightgray;
  font-size: 1.25rem;
  padding: .75rem 1rem;
  display: flex;
  justify-content: space-around;
}

#container {
  display: flex;
  flex-direction: column;
}

.title, footer {
  background-color: black;
  color: white;
  padding: 1.25rem;
}

.sticky-top {
  text-align: right;
  font-size: 1.1rem;
}

.title h1 {
  margin-top: 2.25rem;
}

.title h3 {
  color: gray;
  font-size: 1.15rem;
  margin-top: -.8rem;
}

.quote {
  font-style: italic;
}

.main-row {
  display: flex;
  flex-direction: row;
}

.main-row .main-aside {
  display: flex;
  flex-direction: column;
}

.main-copy {
  margin: 1.25rem .5rem 0 1.25rem;
}

.main-aside {
  margin: 1.25rem .5rem;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.main-aside-article {
  margin-bottom: 1.5rem;
}

.cat-title, .cat-name {
  text-align: center;
}

.cat-title {
  margin-bottom: -.5rem;
}

.cat-name {
  margin-top: -.15rem;
}

.cat-caption {
  position: relative;
  margin-left: .75rem;
  width:60%;
}

.booknow  {
  position: absolute;
  display: block;
  right: -5rem;
  bottom: 0;
}

.copyright {
  text-align: center;
}
