html {
background-color: lightgray;
}

a, a:visited {
  color: red;
}

main {
  background-color: white;
  padding: .75rem;
}

nav, footer {
    background-color: lightgray;
    padding: .5rem .75rem;
}

.copyright {
  text-align: center;
}

nav li {
  display: inline;
  padding: 1rem;
}

nav a, nav a:visited {
  color: purple;
}

.title {
  background-color: black;
  color: white;
  padding: .75rem;
}

.topnav {
  float: right;
}

.main-aside {
  float: right;
}
